<div id="content" class="col-md-12">

  <div class="page-leadin page-leadin--search group">

    <div class="col-md-5 col-md-offset-3">
      <h1 class='search-page-heading'><%= t('blacklight.bookmarks.title') %></h1>
    </div>

    <div class="col-md-4">
        <nav class="align-right">
          <%- unless @document_list.blank? -%>
            <ul class="history-view__resets">
        <!-- <li>
              <i class="glyphicon glyphicon-print"></i>
              <a href="#" id="print-selected">Print</a>
            </li> -->
              <li>
                <i class="glyphicon glyphicon-list"></i>
                <%= link_to t('blacklight.latest_search'), latest_search_path %>
              </li>

               <li class="destructive">
                <i class="glyphicon glyphicon-remove-sign"></i>
                <%= link_to t('blacklight.bookmarks.clear.action_title'), clear_bookmarks_path, :method => :delete, :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm') } %>
              </li>
            </ul>
          <%- end -%>
        </nav>
    </div>
  </div>

  <div class="col-md-9 col-md-offset-3">
    <hr class="offset-3" />
  </div>

  <div class="col-md-9 col-md-offset-3">
    <%- if @document_list.blank? -%>
      <h3 class="search-help search-help--large no-history">
        <%= t('blacklight.bookmarks.no_bookmarks') %>
      </h3>
    <% else %>
      <%= render 'filtering_selected' %>
      <%= render_document_index %>
      <%= render 'results_pagination' %>
    <% end %>
  </div>

</div>

