<% if current_user %>
<ul class="search-extras-list icon-labels align-right">
  <% if defined? @current_search_session %>
    <li>
      <%= render partial: 'catalog/save_search' %>
    </li>
  <% end %>
  <li>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="userDropdown">
        <%= current_user.email %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="userDropdown">
        <% if current_exhibit %>
          <li>
            <%= link_to 'Administrér udstilling', edit_exhibit_path(current_exhibit) %>
          </li>
        <% end %>
        <li><%= link_to 'Opret udstilling', new_exhibit_path %></li>
        <li><%= link_to 'Log ud', destroy_user_session_path %></li>
      </ul>
    </div>
  </li>
</ul>
<% end %>
