<div class="header__wrapper">
  <div class="container container--searchbox elite-navbar">
    <div class="row">
      <div class="col-md-8">
        <i class="glyphicon glyphicon-education"></i>
        <h1>
          <%= t 'ddf.elite.nav.theme' %>
        </h1>
        <% if defined?(current_exhibit) && current_exhibit && current_exhibit.searchable? %>
          <%= render_search_bar %>
        <% end %>
      </div>
      <div class="col-md-4">
        <nav>
          <ul>
            <li id="elite-about">
              <%= link_to t('ddf.elite.nav.about'), elite_about_path %>
            </li>
            <li id="elite-home">
              <%= link_to t('ddf.elite.nav.current'), spotlight_path %>
            </li>
          </ul>
        </nav>
        <%= render partial: 'spotlight/user_links' %>
      </div>
    </div>
  </div>
</div>
