<div id="content" class="col-md-12">

  <div class="page-leadin page-leadin--search group">

    <div class="col-md-8">
      <h1 class="search-page-heading"><%=t('blacklight.search_history.title')%></h1>
    </div>

    <div class="col-md-4">
      <%- unless has_search_history? -%>
        <nav class="align-right">
          <ul class="history-view__resets">
            <li>
              <i class="glyphicon glyphicon-list"></i>
              <%= link_to t('blacklight.latest_search'), latest_search_path %>
            </li>

            <li class="destructive">
              <i class="glyphicon glyphicon-remove-sign"></i>
              <%= link_to t('blacklight.search_history.clear.action_title'), clear_search_history_path, :method => :delete, :data => { :confirm => t('blacklight.search_history.clear.action_confirm') } %>
            </li>
          </ul>
        </nav>
      <%- end -%>
    </div>
  </div>

  <%- unless has_search_history? -%>
    <h3 class="search-help search-help--large no-history">
      <%= t('blacklight.search_history.no_history') %>.
    </h3>
  <%- else -%>
    <h3 class="search-help search-help--large"><%=t('blacklight.search_history.recent')%>:</h3>

    <ul class="search-queries-list">
      <%- previous_searches.each_with_index do |search, index| -%>
        <%= content_tag :li, :id => "document_#{index + 1}" do %>
          <%= link_to_previous_search(search.query_params) %>
          <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
        <% end %>
      <%- end -%>
    </ul>

  <%- end -%>

</div>
