<article role="main">
  <div class="container">
    <div class="row canvas-row">
      <div class="col-md-3">
        <h1 class="canvas-heading">Review type</h1>
        <canvas id="review-type" height="200"><%= @review %></canvas>
      </div>
      <div class="col-md-3">
        <h1 class="canvas-heading">Scientific level</h1>
        <canvas id="scientific-level" height="200"><%= @sci_level %></canvas>
      </div>
      <div class="col-md-3">
        <h1 class="canvas-heading">Main Research Area</h1>
        <canvas id="research-area" height="200"><%= @res_area %></canvas>
      </div>
      <div class="col-md-3">
        <h1 class="canvas-heading">Publication Status</h1>
        <canvas id="publication-status" height="200"><%= @pub_status %></canvas>
      </div>
    </div>
  </div>

  <div class="row canvas-row">
    <h1 class="canvas-heading">Publication Year</h1>
    <canvas id="publication-year" height="200"></canvas>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 chart">
        <section>
          <h1 class="chart-heading">
            <%= t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.type") %>
          </h1>
          <ul class="chartlist types">
            <% @types.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
          <button class="toggle-visibility list-toggle">
            <span class="s">
              <%= t("blacklight.data_visualization.more") %>
              <i class="glyphicon glyphicon-plus-sign"></i>
            </span>
            <span class="h">
              <%= t("blacklight.data_visualization.less") %>
              <i class="glyphicon glyphicon-minus-sign"></i>
            </span>
          </button>
        </section>
      </div>

      <div class="col-md-6 chart">
        <section>
          <h1 class="chart-heading">
            <%= t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.institution") %>
          </h1>
          <ul class="chartlist institutions">
            <% @institutions.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>
  </div>
</article>
