<article role="main">
  <div class="container">
    <div class="row canvas-row">
      <h1 class="chart-heading">
        <%= t("blacklight.data_visualization.publications") %>
        <em><%= t("blacklight.data_visualization.by") %></em>
        Status
      </h1>
      <div class="col-md-3">
        <h2 class="facet-visualization-heading">Review Type</h2>
        <canvas id="review-type" class="segments" height="235" data-facet="review_status_s">
          <%= @by_review_type %>
        </canvas>
      </div>
      <div class="col-md-3">
        <h2 class="facet-visualization-heading">Scientific level</h2>
        <canvas id="scientific-level" class="segments" height="235" data-facet="scientific_level_s">
          <%= @by_sci_level %>
        </canvas>
      </div>
      <div class="col-md-3">
        <h2 class="facet-visualization-heading">Main Research Area</h2>
        <canvas id="research-area" class="segments" height="235" data-facet="research_area_ss">
          <%= @by_research_area %>
        </canvas>
      </div>
      <div class="col-md-3">
        <h2 class="facet-visualization-heading">Publication Status</h2>
        <canvas id="publication-status" class="segments" height="235" data-facet="access_condition_s">
          <%= @by_publication_status %>
        </canvas>
      </div>
    </div>

    <br><br>

    <div class="row canvas-row">
      <h2 class="chart-heading">
        <%= t("blacklight.data_visualization.publications") %>
        <em><%= t("blacklight.data_visualization.by") %></em>
        Timeline
      </h2>
      <canvas id="publication-timeline" height="160">
        <%= @by_year %>
      </canvas>
    </div>

    <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-6 chart">
        <section>
          <h2 class="chart-heading">
            <%= t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.type") %>
          </h2>
          <ul class="chartlist types">
            <% @by_type.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
          <button class="toggle-visibility list-toggle">
            <span class="s">
              <%= t("blacklight.data_visualization.more") %>
              <i class="glyphicon glyphicon-plus-sign"></i>
            </span>
            <span class="h">
              <%= t("blacklight.data_visualization.less") %>
              <i class="glyphicon glyphicon-minus-sign"></i>
            </span>
          </button>
        </section>
      </div>

      <div class="col-md-6 chart">
        <section>
          <h1 class="chart-heading">
            <%= t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.institution") %>
          </h1>
          <ul class="chartlist institutions">
            <% @by_institution.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>
  </div>
</article>
