<article role="main">
  <div class="container">

    <h1 class="statistics-headline">
      <a name="charts-top">
        <%= t("blacklight.data_visualization.publication_statistics") %>
      </a>
    </h1>

    <div class="row statistics-nav-container">
      <div class="col-md-8 col-md-offset-2">
        <nav class="statistics-local">
          <p class="jump"><%= t("blacklight.data_visualization.upper_navigation.jump_to") %>:</p>
          <ul class="statistics-sections-list">
            <li>
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
              <a href="#indicators"><%= t("blacklight.data_visualization.upper_navigation.indicators") %></a>;
            </li>
            <li>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              <a href="#years"><%= t("blacklight.data_visualization.upper_navigation.years") %></a>;
            </li>
            <li>
              <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
              <a href="#types"><%= t("blacklight.data_visualization.upper_navigation.type_language") %></a>;
            </li>
            <li>
              <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
              <a href="#institutions"><%= t("blacklight.data_visualization.upper_navigation.institutions_authors_journals") %></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row statistics-row">
      <h2 class="chart-heading">
        <a name="indicators">
          <em><%= t("blacklight.data_visualization.by") %></em>
          <%= t("blacklight.data_visualization.indicator") %>
        </a>
      </h2>

      <div class="col-md-3">
        <h3 class="facet-visualization-heading">
          <%= t("blacklight.data_visualization.review_type") %>
        </h3>
        <canvas id="review-type" class="segments" height="235" data-facet="review_status_s">
          <%= @by_review_type %>
        </canvas>
      </div>
      <div class="col-md-3">
        <h3 class="facet-visualization-heading">
          <%= t("blacklight.data_visualization.scientific_level") %>
        </h3>
        <canvas id="scientific-level" class="segments" height="235" data-facet="scientific_level_s">
          <%= @by_sci_level %>
        </canvas>
      </div>
      <div class="col-md-3">
        <h3 class="facet-visualization-heading">
          <%= t("blacklight.data_visualization.main_research_area") %>
        </h3>
        <canvas id="research-area" class="segments" height="235" data-facet="research_area_ss">
          <%= @by_research_area %>
        </canvas>
      </div>
      <div class="col-md-3">
        <h3 class="facet-visualization-heading">
          <%= t("blacklight.data_visualization.publication_status") %>
        </h3>
        <canvas id="publication-status" class="segments" height="235" data-facet="access_condition_s">
          <%= @by_publication_status %>
        </canvas>
      </div>
    </div>

    <div class="contain">
      <span class="divider">
        <a href="#charts-top" class="to-the-top">
          <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>

  <div class="container">
    <div class="row statistics-row">
      <h2 class="chart-heading">
        <a name="years">
          <em><%= t("blacklight.data_visualization.by") %></em>
          <%= t("blacklight.data_visualization.year") %>
        </a>
      </h2>

      <h3 class="facet-visualization-heading facet-visualization-heading--plot">
        <%= t("blacklight.data_visualization.publication_year") %>
      </h3>
      <canvas id="publication-year" class="plot" height="160" data-facet="pub_date_tsort">
        <%= @by_publication_year %>
      </canvas>
      <h3 class="facet-visualization-heading facet-visualization-heading--plot">
        <%= t("blacklight.data_visualization.submission_year") %>
      </h3>
      <canvas id="submission-year" class="plot" height="160" data-facet="submission_year_tis">
        <%= @by_submission_year %>
      </canvas>
    </div>

    <div class="contain">
      <span class="divider">
        <a href="#charts-top" class="to-the-top">
          <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>

  <div class="container">
    <div class="row statistics-row">
      <div class="col-md-6 chart">
        <section>
          <h2 class="chart-heading">
            <a name="types">
              <%# t("blacklight.data_visualization.publications") %>
              <em><%= t("blacklight.data_visualization.by") %></em>
              <%= t("blacklight.data_visualization.type") %>
            </a>
          </h2>
          <ul class="chartlist types">
            <% @by_type.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
          <button class="toggle-visibility list-toggle">
            <span class="s">
              <%= t("blacklight.data_visualization.more") %>
              <i class="glyphicon glyphicon-plus-sign"></i>
            </span>
            <span class="h">
              <%= t("blacklight.data_visualization.less") %>
              <i class="glyphicon glyphicon-minus-sign"></i>
            </span>
          </button>
        </section>
      </div>

      <div class="col-md-6 chart">
        <section>
          <h2 class="chart-heading">
            <%# t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.language") %>
          </h2>
          <ul class="chartlist languages">
            <% @by_language.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>

    <div class="contain">
      <span class="divider">
        <a href="#charts-top" class="to-the-top">
          <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>

  <div class="container">
    <div class="row statistics-row">
      <div class="col-md-4 chart">
        <section>
          <h1 class="chart-heading">
            <a name="institutions">
              <%# t("blacklight.data_visualization.publications") %>
              <em><%= t("blacklight.data_visualization.by") %></em>
              <%= t("blacklight.data_visualization.institution") %>
            </a>
          </h1>
          <ul class="chartlist institutions">
            <% @by_institution.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>

      <div class="col-md-4 chart">
        <section>
          <h2 class="chart-heading">
            <%# t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.journal_title") %>
          </h2>
          <ul class="chartlist languages">
            <% @by_journal_title.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>

      <div class="col-md-4 chart">
        <section>
          <h2 class="chart-heading">
            <%# t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.author") %>
          </h2>
          <ul class="chartlist languages">
            <% @by_author.each do |facet| %>
            <li>
              <%= render_facet_link(facet) %>
              <%= display_facet_count(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>

    <div class="contain contain-bottom">
      <span class="divider">
        <a href="#charts-top" class="to-the-top">
          <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>
</article>
