<div class="header__wrapper">
  <div class="container">
    <div class="block">
      <h1 class="site-section">
      <i class="glyphicon glyphicon-info-sign"></i>
        <%= t('blacklight.navigation.about_section.about') %>
      </h1>

      <ul class="subnav-items-list">
        <li id="search-get">
          <a href="/about/search-and-get"><%= t('blacklight.navigation.about_section.search_get') %></a>
        </li>
        <li id="data">
          <a href="/about/data"><%= t('blacklight.navigation.about_section.data') %></a>
        </li>
        <li id="faq">
          <a href="/about/faq"><%= t('blacklight.navigation.about_section.faq') %></a>
        </li>
        <li id="contact">
          <a href="/about/contact"><%= t('blacklight.navigation.about_section.contact') %></a>
        </li>
      </ul>
    </div>
  </div>
</div>

