<div class="header__wrapper">
  <div class="container">
    <div class="block">
      <h1 class="site-section">
        <i class="glyphicon glyphicon-info-sign"></i>
        <%= t('blacklight.navigation.about_section.about') %>
      </h1>

      <ul class="subnav-items-list">
        <li id="search-get">
          <%= link_to t('blacklight.navigation.about_section.search_get'), about_search_and_get_path %>
        </li>
        <li id="data">
          <%= link_to t('blacklight.navigation.about_section.data'), about_data_path %>
        </li>
        <li id="data-providers">
          <%= link_to t('blacklight.navigation.about_section.providers'), about_data_providers_path %>
        </li>
        <li id="faq">
          <%= link_to t('blacklight.navigation.about_section.faq'), about_faq_path %>
        </li>
        <li id="contact">
          <%= link_to t('blacklight.navigation.about_section.contact'), about_contact_path %>
        </li>
      </ul>
    </div>
  </div>
</div>

