<div class="header__wrapper">
  <div class="container">
    <div class="block">
      <h1 class="site-section">
        <i class="glyphicon glyphicon-info-sign"></i>
        <%= t('blacklight.navigation.about_section.about') %>
      </h1>

      <nav class="mobile">
        <ul class="subnav-items-list mobile-hide">
          <li id="search-get">
            <%= link_to t('blacklight.navigation.about_section.search_get'), about_search_and_get_path %>
          </li>
          <li id="data">
            <%= link_to t('blacklight.navigation.about_section.data'), about_data_path %>
          </li>
          <li id="data-providers">
            <%= link_to t('blacklight.navigation.about_section.providers'), about_data_providers_path %>
          </li>
          <li id="faq">
            <%= link_to t('blacklight.navigation.about_section.faq'), about_faq_path %>
          </li>
          <li id="releases">
            <%= link_to t('blacklight.navigation.about_section.releases'), about_releases_path %>
          </li>
          <li id="privacy">
            <%= link_to t('blacklight.navigation.about_section.cookies'), about_privacy_path %>
          </li>
          <li id="contact">
            <%= link_to t('blacklight.navigation.about_section.contact'), about_contact_path %>
          </li>
        </ul>

        <!-- TODO -->
        <select class="mobile-show">
          <option value="" selected="selected"><%= t('ddf.open_access.menu.go_to') %></option>
          <option value="<%= about_search_and_get_path %>"><%= t('blacklight.navigation.about_section.search_get') %></option>
          <option value="<%= about_data_path %>"><%= t('blacklight.navigation.about_section.data') %></option>
          <option value="<%= about_data_providers_path %>"><%= t('blacklight.navigation.about_section.providers') %></option>
          <option value="<%= about_faq_path %>"><%= t('blacklight.navigation.about_section.faq') %></option>
          <option value="<%= about_releases_path %>"><%= t('blacklight.navigation.about_section.releases') %></option>
          <option value="<%= about_privacy_path %>"><%= t('blacklight.navigation.about_section.cookies') %></option>
          <option value="<%= about_contact_path %>"><%= t('blacklight.navigation.about_section.contact') %></option>
        </select>
      </nav>

    </div>
  </div>
</div>
