<footer>
  <%# content_for :modal %>
  <div class="sticky">
    <%= link_to '<i class="glyphicon glyphicon-envelope"></i> Feedback'.html_safe, feedback_mail_link %>
  </div>

  <div class="container">
    <h1 class="footer-heading">
      <i class="fa fa-sitemap"></i>
      Sitemap
    </h1>
    <ul class="sitemap">
      <li class="sitemap__section">
        <%= link_to search_item_contents, root_path %>
      </li>
      <li class="sitemap__section">
        <%= link_to about_item_contents, about_path %>
        <ul>
          <li>
            <%= link_to t('blacklight.navigation.about_section.search_get'), about_search_and_get_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.data'), about_data_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.providers'), about_data_providers_path %>
            </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.faq'), about_faq_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.contact'), about_contact_path %>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <%= render :partial => "shared/contentinfo" %>
</footer>
