<footer>
  <%# content_for :modal %>
  <div class="sticky">
    <a href="mailto:feedbackforskningsdatabase@dtu.dk?subject=Website Feedback">
      <i class="glyphicon glyphicon-envelope"></i>
      Feedback
    </a>
  </div>

  <div class="container">
    <h1 class="footer-heading">
      <i class="fa fa-sitemap"></i>
      Sitemap
    </h1>
    <ul class="sitemap">
      <li class="sitemap__section">
        <a href="/search"><%= t('blacklight.navigation.search_section.search') %></a>
      </li>
      <li class="sitemap__section">
        <a href="/about"><%= t('blacklight.navigation.about_section.about') %></a>
        <ul>
          <li>
            <a href="/about/search-and-get"><%= t('blacklight.navigation.about_section.search_get') %></a>
          </li>
          <li>
            <a href="/about/data"><%= t('blacklight.navigation.about_section.data') %></a>
          </li>
          <li>
            <a href="/about/faq"><%= t('blacklight.navigation.about_section.faq') %></a>
          </li>
          <li>
            <a href="/about/contact"><%= t('blacklight.navigation.about_section.contact') %></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <%= render :partial => "shared/contentinfo" %>
</footer>
