<footer>
  <%= render_feedback_button %>

  <div class="container">
    <h1 class="footer-heading">
      <i class="fa fa-sitemap"></i>
      Sitemap
    </h1>
    <ul class="sitemap">
      <!-- SEARCH -->
      <li class="sitemap__section">
        <%= link_to search_item_contents, root_path %>
      </li>

      <!-- OA -->
      <li class="sitemap__section">
        <%= link_to open_access_item_contents, open_access_path %>
        <ul>
          <li>
            <%= link_to t('blacklight.navigation.oa_section.overview'), open_access_overview_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.oa_section.development'), open_access_development_path %>
          </li>
        </ul>
      </li>

      <!-- STATISTICS -->
      <li class="sitemap__section">
        <%= link_to statistics_item_contents, statistics_path %>
      </li>

      <!-- ABOUT -->
      <li class="sitemap__section">
        <%= link_to about_item_contents, about_path %>
        <ul>
          <li>
            <%= link_to t('blacklight.navigation.about_section.search_get'), about_search_and_get_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.data'), about_data_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.providers'), about_research_institutions_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.faq'), about_faq_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.releases'), about_releases_path %>
          </li>
          <li id="cookies">
            <%= link_to t('blacklight.navigation.about_section.cookies'), about_privacy_path %>
          </li>
          <li>
            <%= link_to t('blacklight.navigation.about_section.contact'), about_contact_path %>
          </li>
        </ul>
      </li>

    </ul>
  </div>

  <%= render :partial => "shared/contentinfo" %>
</footer>
