  <header>
    <div class="container">
      <nav class="global row">
        <ul class="horizontal pull-left snap-to-grid admin home">
          <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
        </ul>

        <ul class="locales-list horizontal pull-right snap-to-grid admin">
          <%= render_locale_switcher(:en, :da) %>
        </ul>
        <%= render :partial=>'/user_login_links' %>
      </nav>
    </div>

    <div class="container logo-container">
      <div class="row">

        <div class="col-md-5">
         <h1 class="logo logo-main">
          <em><%= t('blacklight.national')%></em>
          <%= t('blacklight.research_database')%>
        </h1>
      </div>


      <div class="col-md-7">

        <ul class="site-sections-list icon-labels icon-labels__topnav">
          <li id="search">
            <i class="glyphicon glyphicon-search"></i>
            <a href="">Search</a>

          </li>
          <li id="open-access">
            <i class="glyphicon glyphicon-lock"></i>
            <a href="">Open<br /> Access</a>

          </li>
          <li id="eliteforsk-award">
            <i class="glyphicon glyphicon-education"></i>
            <a href="">Eliteforsk<br /> Award</a>

          </li>
          <li id="about">
            <i class="glyphicon glyphicon-info-sign"></i>
            <a href="">About</a>

          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="header__wrapper">
    <div class="container container--searchbox">
      <div class="row">
        <div class="col-md-8">
          <%= render_search_bar %>
        </div>

        <div class="col-md-4 search-options-container">
          <%= render :partial=>'/user_search_links' %>
        </div>
      </div>
    </div>
  </div>
</header>
