  <header>
    <div class="container">
      <nav role="main" class="row">
        <ul class="horizontal pull-left snap-to-grid admin home">
          <li><a href="/"><i class="fa fa-home"></i></a></li>
        </ul>

        <ul class="locales-list horizontal pull-right snap-to-grid admin">
          <%= render_locale_switcher(:en, :da) %>
        </ul>
       <%= render :partial=>'/user_login_links' %>
     </nav>
    </div>

    <div class="container logo-container">
      <div class="row">
        <div class="col-md-10">
         <h1 class="logo logo-main">
          <em><%= t('blacklight.national')%></em>
          <%= t('blacklight.research_database')%>
         </h1>
        </div>
      </div>
    </div>

    <div class="header__wrapper">
      <div class="container container--searchbox">
        <div class="row">
          <div class="col-md-8">
            <%= render_search_bar %>
          </div>

          <div class="col-md-4 search-options-container">
            <%= render :partial=>'/user_search_links' %>
          </div>
        </div>
      </div>
    </div>
</header>
