<div class="container upper-panel">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <ul class="locales-list horizontal admin">
        <i class="glyphicon glyphicon-flag"></i>
        <%= render_locale_switcher(:en, :da) %>
      </ul>
    </div>
  </div>
</div>

<nav role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="logo logo-main">
          <%= link_to home_item_contents, root_path %>
        </h1>
      </div>

      <div class="col-md-7">
        <ul class="site-sections-list icon-labels icon-labels__topnav">
          <li id="search"><%= link_to search_item_contents, root_path %></li>
          <!--
          <li id="open-access"><%# link_to open_access_item_contents, open_access_path %></li>
          -->
          <li id="eliteforsk-award"><%= link_to eliteforsk_award_item_contents, spotlight_path %></li>
          <li id="about"><%= link_to about_item_contents, about_path %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- <a href="/feedback" class="" data-ajax-modal="trigger">Send Feedback!</a> -->
