<% if stats.present? %>
<%# view here will be relative or relative_clear, default to relative %>
<% view ||= 'relative' %>
  <section class="vertical stacked bar chart">
    <ul class="stacked-bar">
      <% stats[resource].each do |unit, data| %>
      <li>
          <%= content_tag :span, class: 'label'  do %>
            <%= link_to(unit, open_access_development_path(resource: resource, key: unit)) %>
          <% end %>
          <ul class="values">
            <% data[view].each do |status, value| %>
              <%= content_tag :li, class: status, style: "height: #{value.round(4)}%"  do %>
                <div class="overlay">
                  <h4><%= status.titleize %></h4>
                  <dl>
                    <dt>Absolute</dt>
                    <dd><%= "#{data['absolute'][status]} publications" rescue nil %></dd>
                    <dt>Relative</dt>
                    <dd><%= "#{value.round(2)}% of total" %></dd>
                  </dl>
                </div>
              <% end %>
            <% end %>
          </ul>
        </a>
      </li>
      <% end %>
      <li>
    </ul>
  </section>
<% end %>
