<% if stats.present? %>
  <%# view here will be relative or relative_clear, default to relative %>
  <% view ||= 'relative' %>
  <section class="vertical stacked bar chart">

    <ul class="stacked-bar">
      <% stats[resource].each do |unit, data| %>
        <li>
          <div class="row">
            <div class="col-md-5">
              <%= render_oa_unit_heading(unit) %>
            </div>
            <div class="col-md-7">
              <div class="col-xs-11 chart-container">
                <ul class="values block">
                  <% OpenAccessIndicator::CLASSIFICATIONS.each do |status| %>
                    <%# This catches a nil pointer when we're not showing unclear status %>
                    <% next unless status.in? data[view] %>
                    <% value = data[view][status] %>
                    <%= content_tag :li, class: status, style: "width: #{value.round(4)}%" do %>
                      <span class="relative-rounded"><%= "#{value.round}%" %></span>
                      <div class="overlay">
                        <p><%= "#{value.round(2)}% #{status.capitalize}" %></p>
                        <p><%= "#{data['absolute'][status]} publications" rescue nil %></p>
                      </div>
                    <% end %>
                  <% end %>
                </ul>
              </div>

              <div class="col-xs-1 chart-link-container">
                <%= link_to(open_access_development_path(resource: resource, key: unit), class: "development") do %>
                  <span class="fa fa-line-chart" aria-hidden="true"></span>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>

    </section>
  <% end %>
