<article role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="oa-headline">
          <span class="development-segment"><%= t('ddf.open_access.development.header') %></span>
          <%= t('ddf.open_access.labels.' + @key) %>
        </h1>

        <div class="oa-inputs-wrapper">
          <%= form_tag({controller: 'open_access_indicator', action: 'development'}, method: 'get', class: 'centered') do %>
            <ul class="oa-filtering-inputs">
              <li>
                <%= label_tag :key,  t('ddf.open_access.form.labels.resource')  %>
                <%= select_tag(:key, grouped_options_for_select(translate_oa_resources(OpenAccessIndicator::RESOURCES), @key)) %>
              </li>
              <li>
                <%= button_tag(class: 'view-oa', type: "submit") do %>
                  <i class="glyphicon glyphicon-refresh"></i>
                  <%= t('ddf.open_access.form.labels.submit')  %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>

        <div class="oa-development-chart">

          <div class="oa-legend-container col-md-6 col-md-offset-3">
            <h2 class="oa-legend-heading"><%= t('ddf.open_access.legend.development.potential') %></h2>
            <ul class="oa-colors-list">
              <li><span class="legend realized"></span>
                <%= t('ddf.open_access.legend.development.realized') %>
              </li>
              <li><span class="legend projected"></span>
                <!-- Projected Open Access (c.f. national strategy) -->
                <%= t('ddf.open_access.legend.development.projected') %>
              </li>
            </ul>
          </div>

          <div class="col-md-6 col-md-offset-3">
            <ul class="timeline">
              <% @years.each do |year| %>
                <%= render_bar_for(@resource, @key, year) %>
              <% end %>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</article>

