<article role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="oa-development-for">
          <%= t('ddf.open_access.development.header', { resource: t('ddf.open_access.segments.' + @resource), segment: t('ddf.open_access.labels.' + @key)}) %>
        </h1>
        <h2 class="oa-development-period">
          Period:
          <strong>
            <%= "#{OpenAccessIndicator::YEARS.last}" %> &mdash;
            <%= "#{OpenAccessIndicator::YEARS.first}" %>
          </strong>
        </h2>

        <div class="oa-inputs-wrapper">
          <%= form_tag({controller: 'open_access_indicator', action: 'development'}, method: 'get', class: 'centered') do %>
            <ul class="oa-filtering-inputs">
              <li>
                <%= label_tag :key,  t('ddf.open_access.form.labels.resource')  %>
                <%= select_tag(:key, grouped_options_for_select(translate_oa_resources(OpenAccessIndicator::RESOURCES), @key)) %>
              </li>
              <li>
                <%= button_tag(class: 'view-oa', type: "submit") do %>
                  <i class="glyphicon glyphicon-refresh"></i> View
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>



        <div class="col-md-6 col-md-offset-3 oa-development-chart">
          <ul class="timeline" style="">

          <!-- TODO:
            <li class="projected">
              <a class="muted-link" href="#">100%</a>
              <span class="count">2020</span>
              <span class="pct" style="width: 100%">100</span>
            </li>
          -->

            <% @years.each do |year| %>
              <li>
                <a href="#" class="">
                  <%= render_year_for(year) %>
                  <%= render_pct_for(@resource, @key, year) %>
                </a>
              </li>
            <% end %>

            <li id="2015" class="unavailable">
              <a href="#" class="">
                <span class='label'>2015</span>
                <span class='count' style='height: 0'>0</span>
              </a>
            </li>
            <li id="2016" class="projected">
              <a href="#" class="">
                <span class='label'>2016</span>
                <span class='count' style='height: 80%'>80%</span>
              </a>
            </li>
            <li id="2017" class="unavailable">
              <a href="#" class="">
                <span class='label'>2017</span>
                <span class='count' style='height: 0'>0</span>
              </a>
            </li>
            <li id="2018" class="unavailable">
              <a href="#" class="">
                <span class='label'>2018</span>
                <span class='count' style='height: 0'>0</span>
              </a>
            </li>
            <li id="2019" class="unavailable">
              <a href="#" class="">
                <span class='label'>2019</span>
                <span class='count' style='height: 0'>0</span>
              </a>
            </li>
            <li id="2020" class="unavailable">
              <a href="#" class="">
                <span class='label'>2020</span>
                <span class='count' style='height: 0'>0</span>
              </a>
            </li>
            <li id="2021" class="projected">
              <a href="#" class="">
                <span class='label'>2021</span>
                <span class='count' style='height: 100%'>100%</span>
              </a>
            </li>



        </ul>
      </div>

      </div>
    </div>
  </div>
</article>

