<article role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="oa-development-heading">
          <%= t('ddf.open_access.development.header', { resource: t('ddf.open_access.segments.' + @resource), segment: t('ddf.open_access.labels.' + @key)}) %>
        </h1>
        <h2>
          Period:
          <%= "#{OpenAccessIndicator::YEARS.last}" %> &mdash;
          <%= "#{OpenAccessIndicator::YEARS.first}" %>
        </h2>

        <div class="oa-inputs-wrapper">
          <%= form_tag({controller: 'open_access_indicator', action: 'development'}, method: 'get', class: 'centered') do %>
            <ul class="oa-filtering-inputs">
              <li>
                <%= label_tag :key,  t('ddf.open_access.form.labels.resource')  %>
                <%= select_tag(:key, grouped_options_for_select(translate_oa_resources(OpenAccessIndicator::RESOURCES), @key)) %>
              </li>
              <li>
                <%= button_tag(class: 'view-oa', type: "submit") do %>
                  <i class="glyphicon glyphicon-refresh"></i> View
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>



        <div class="chart">
          <ul class="timeline">

          <!-- TODO:
            <li class="projected">
              <a class="muted-link" href="#">100%</a>
              <span class="count">2020</span>
              <span class="pct" style="width: 100%">100</span>
            </li>
          -->

            <% OpenAccessIndicator::YEARS.reverse.each do |year| %>
              <% data = @timeline[@key][year.to_s] %>

              <%# binding.pry %>

              <li>
                <a href="#" class="">
                  <span class="label"><%= year %></span>
                  <span class="count" style="height: <%= data['relative'] %>%">(<%= data['relative'] %>%)</span>
                  <%# render_pct_for_year(@key, year) %>
                </a>
              </li>
            <% end %>

              <%# render_link_to(facet) %>
              <%# render_count_for(facet) %>
              <%# render_percentage_for(facet) %>


        </ul>
      </div>

      </div>
    </div>
  </div>
</article>

