<% key = @timeline.keys.first %>
<article role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="oa-development-heading">
          <span class="development-for">Danish OA Indicator development for:</span>
          <%= "#{t('ddf.open_access.labels.' + key)}" %>
          <span class="development-period">
            Period:
            <%= "#{OpenAccessIndicator::YEARS.last}" %> &mdash;
            <%= "#{OpenAccessIndicator::YEARS.first}" %>
          </span>
        </h1>
        <div class="oa-inputs-wrapper col-md-10 col-md-offset-1">
          <%= form_tag({controller: 'open_access_indicator', action: 'development'}, method: 'get', class: 'centered') do %>
            <ul class="oa-filtering-inputs">
              <li>
                <%= label_tag :key,  t('ddf.open_access.form.labels.resource')  %>
                <%= select_tag(:key, grouped_options_for_select(translate_oa_resources(OpenAccessIndicator::RESOURCES), key)) %>
              </li>
              <li>
                <%= button_tag(class: 'view-oa', type: "submit") do %>
                  <i class="glyphicon glyphicon-refresh"></i> View
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 chart">
        <ul class="chartlist types">

        <!-- TODO: TEST -->
          <li class="projected">
            <a class="muted-link" href="#">100%</a>
            <span class="count">2020</span>
            <span class="pct" style="width: 100%">100</span>
          </li>
        <!-- TODO: TEST -->

          <% OpenAccessIndicator::YEARS.each do |year| %>
          <% data = @timeline[key][year.to_s] %>
            <li>
              <a href="#" class="muted-link"><%= "#{data['relative'].round(1)}%" %></a>
              <%= content_tag :span, year, class: 'count' %>
              <%= content_tag :span, data['relative'], class: 'pct', style: "width: #{data['relative']}%" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</article>
