<h1>Open Access Overview</h1>
<% year = params[:year] || Time.now.year %>
<% view = params[:view] || 'relative' %>
<div class="row">
<%= form_tag({controller: 'open_access_indicator', action: 'overview'}, method: 'get', class: 'pull-right') do  %>
  <%= label_tag :view %>
  <%- view_types = ['relative', 'relative_clear'].collect { |tp| [ I18n.t("ddf.open_access.form.view_types.#{tp}"), tp ] } %>
  <%= select_tag(:view, options_for_select(view_types, view)) %>
  <%= label_tag :year %>
  <%= select_tag(:year, options_for_select([2016, 2015, 2014], year)) %>
  <%= submit_tag 'View' %>
<% end %>
</div>
<div class="row">
  <%= link_to("Full dataset (#{year})", Rails.configuration.x.open_access.url % { year: year, resource: 'records', format: 'csv' }, class: 'pull-right') %>
</div>
<div class="col-md-2 chartbox">
  <h2>National</h2>
  <%= render partial: 'open_access/chart', locals: { stats: @overview['national'], view: view } %>
</div>
<div class="col-md-4 chartbox">
  <h2>Research Area</h2>
  <%= render partial: 'open_access/chart', locals: { stats: @overview['research_area'], view: view} %>
  </div>
</div>
<div class="col-md-4 chartbox">
  <h2>Universities</h2>
  <%= render partial: 'open_access/chart', locals: { stats: @overview['universities'], view: view} %>
  </div>
</div>
