<article role="main">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="oa-overview-heading"><%= t('ddf.open_access.header', year: @year) %></h1>

        <div class="oa-inputs-wrapper col-md-10 col-md-offset-1">
          <%= form_tag({controller: 'open_access_indicator', action: 'overview'}, method: 'get', class: 'centered', enforce_utf8: false) do  %>
            <ul class="oa-filtering-inputs">
              <li>
                <%= label_tag :view, t('ddf.open_access.form.labels.view_type') %>
                <%- view_types = ['relative', 'relative_clear'].collect { |tp| [ I18n.t("ddf.open_access.form.view_types.#{tp}"), tp ] } %>
                <%= select_tag(:view, options_for_select(view_types, @view)) %>
              </li>

              <li>
                <%= label_tag :year, t('ddf.open_access.form.labels.year') %>
                <%= select_tag(:year, options_for_select(OpenAccessIndicator.available_years.to_a.reverse, @year)) %>
              </li>

              <li>
                <%= button_tag(class: 'view-oa', type: "submit", name: nil) do %>
                  <i class="glyphicon glyphicon-refresh"></i>
                  <%= t('ddf.open_access.form.labels.submit') %>
                <% end %>
              </li>
            </ul>
          <% end %>
       </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <ul class="oa-colors-list">
          <li>
            <span class="legend realized"></span>
            <!-- Realized -->
            <%= t('ddf.open_access.legend.overview.realized') %>
          </li>
          <li>
            <span class="legend unused"></span>
            <!-- Unused  -->
            <%= t('ddf.open_access.legend.overview.unused') %>
          </li>
          <li>
            <span class="legend unclear"></span>
            <!-- Unclear -->
            <%= t('ddf.open_access.legend.overview.unclear') %>
          </li>
        </ul>

        <% if @overview.values.include? nil %>
          <div class="alert alert-danger">
            Error — some data missing for this year. Contact your administrator for assistance.
          </div>
        <% else %>
          <div class="oa-chart-container">
            <h2 class="chart-heading"><%= t('ddf.open_access.headers.national') %></h2>
            <%= render partial: 'open_access/chart', locals: { stats: @overview, resource: 'national', view:
              @view } %>
          </div>

          <div class="oa-chart-container">
            <h2 class="chart-heading"><%= t('ddf.open_access.headers.research_area') %></h2>
            <%= render partial: 'open_access/chart', locals: { stats: @overview, resource: 'research_area', view: @view } %>
          </div>

          <div class="oa-chart-container">
            <h2 class="chart-heading"><%= t('ddf.open_access.headers.universities') %></h2>
            <%= render partial: 'open_access/chart', locals: { stats: @overview, resource: 'universities', view: @view } %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'reports', locals: { year: @year} %>
</article>
