<article class="static">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h1 class="feature-heading centered">Data Providers</h1>
        <ul class="data-providers-list multicol-2">
          <%= render '/catalog/providers/rdb_vbn' %>
          <%= render '/catalog/providers/rdb_au' %>
          <%= render '/catalog/providers/rdb_cbs' %>
          <%= render '/catalog/providers/orbit' %>
          <%= render '/catalog/providers/rdb_fak' %>
          <%= render '/catalog/providers/rdb_itu' %>
          <%= render '/catalog/providers/rdb_ark' %>
          <%= render '/catalog/providers/rdb_ku' %>
          <%= render '/catalog/providers/rdb_ka' %>
          <%= render '/catalog/providers/rdb_sbi' %>
          <%= render '/catalog/providers/rdb_ruc' %>
          <%= render '/catalog/providers/rdb_sdu' %>
        </ul>

      </div>
    </div>
  </div>

</article>

