<article class="static">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul class="data-providers-list multicol-2">
          <li id="aalborg-university">
            <h2 class="data-provider-heading">Aalborg University</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/aalborg-university.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>AAU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.en.aau.dk/">http://www.en.aau.dk/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1974</dd>

              <dt>Location</dt>
              <dd>Aalborg, Esbjerg, Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://vbn.aau.dk/en/">http://vbn.aau.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://vbn.aau.dk/ws/oai">http://vbn.aau.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>

          <li id="aarhus-university">
            <h2 class="data-provider-heading">Aarhus University</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/aarhus-university.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>AU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.au.dk/en/">http://www.au.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1928</dd>

              <dt>Location</dt>
              <dd>Aarhus, Copenhagen, Herning</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://pure.au.dk/portal/en/">http://pure.au.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="https://pure.au.dk/ws/oai">https://pure.au.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>

          <li id="cph-business-school">
            <h2 class="data-provider-heading">Copenhagen Business School</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/cph-business-school.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>CBS</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.cbs.dk/en">http://www.cbs.dk/en</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1917</dd>

              <dt>Location</dt>
              <dd>Frederiksberg</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://research.cbs.dk/en/">http://research.cbs.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://research.cbs.dk/ws/oai">http://research.cbs.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="technical-university-of-dk">
            <h2 class="data-provider-heading">Technical University of Denmark</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/technical-university-of-dk.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>DTU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.dtu.dk/english">http://www.dtu.dk/english</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1829</dd>

              <dt>Location</dt>
              <dd>Kongens Lyngby, Ballerup</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://orbit.dtu.dk/en/">http://orbit.dtu.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://orbit.dtu.dk/ws/oai">http://orbit.dtu.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>

          <li id="danish-defence-college">
            <h2 class="data-provider-heading">Royal Danish Defence College</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/danish-defence-college.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>FAK</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="www.forsvaret.dk/FAK/eng/">www.forsvaret.dk/FAK/eng/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>2001</dd>

              <dt>Location</dt>
              <dd>Svanemøllens Kasserne, Vognmandsmarken</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://pure.fak.dk/portal/en/">http://pure.fak.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://pure.fak.dk/ws/oai">http://pure.fak.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="it-university-of-cph">
            <h2 class="data-provider-heading">IT University of Copenhagen</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/it-university-of-cph.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>ITU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://en.itu.dk/">http://en.itu.dk/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1999</dd>

              <dt>Location</dt>
              <dd>Ørestad</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="https://pure.itu.dk/portal/en/">https://pure.itu.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="https://pure.itu.dk/ws/oai">https://pure.itu.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="architecture-design-conservation">
            <h2 class="data-provider-heading">Research institutions in Architecture, Design and Conservation</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/architecture-design-conservation.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://aarch.dk/info/research/research-database/">http://aarch.dk/info/research/research-database/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://www.re-ad.dk/ws/oai">http://www.re-ad.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
              <dt>Includes</dt>
              <dd>KADK, AAA and DSKD</dd>
            </dl>

            <!-- TODO: sub-schools -->

            <ul class="data-provider-list__sub">
              <li>
                <h3 class="data-provider-list__sub__heading">The Royal Danish Academy of Fine Arts, Schools of Architecture, Design and Conservation</h3>

                <dl class="provider-details-list">
                  <dt>Acronym</dt>
                  <dd>KADK</dd>

                  <dt>Web</dt>
                  <dd>
                    <a target="_blank" href="https://kadk.dk/en/">https://kadk.dk/en/</a>
                    <i class="fa fa-external-link"></i>
                  </dd>

                  <dt>Established</dt>
                  <dd>2011</dd>

                  <dt>Location</dt>
                  <dd>Copenhagen, Bornholm</dd>
                </dl>

                <h4 class="data-provider-list__leaves-heading">Includes</h4>
                <ul class="data-provider-list__leaves">
                  <li>
                    <a href="https://kadk.dk/en/school-architecture">School of Architecture</a>
                    <i class="fa fa-external-link"></i>
                  </li>
                  <li>
                    <a href="https://kadk.dk/en/school-design">School of Design</a>
                    <i class="fa fa-external-link"></i>
                  </li>
                  <li>
                    <a href="https://kadk.dk/en/school-conservation">School of Conservation</a>
                    <i class="fa fa-external-link"></i>
                  </li>
                </ul>
              </li>

              <li>
                <h3 class="data-provider-list__sub__heading">Aarhus School of Architecture</h3>
                <dl class="provider-details-list">
                  <dt>Acronym</dt>
                  <dd>AAA</dd>

                  <dt>Web</dt>
                  <dd>
                    <a target="_blank" href="http://aarch.dk/">http://aarch.dk/</a>
                    <i class="fa fa-external-link"></i>
                  </dd>

                  <dt>Established</dt>
                  <dd>1965</dd>

                  <dt>Location</dt>
                  <dd>Aarhus</dd>
                </dl>
              </li>

              <li>
                <h3 class="data-provider-list__sub__heading">Design School Kolding</h3>
                <dl class="provider-details-list">
                  <dt>Acronym</dt>
                  <dd>DSKD</dd>

                  <dt>Web</dt>
                  <dd>
                    <a target="_blank" href="https://www.designskolenkolding.dk/en">https://www.designskolenkolding.dk/en</a>
                    <i class="fa fa-external-link"></i>
                  </dd>

                  <dt>Established</dt>
                  <dd>1967</dd>

                  <dt>Location</dt>
                  <dd>Kolding</dd>
                </dl>
              </li>
            </ul>
          </li>


          <li id="copenhagen-university">
            <h2 class="data-provider-heading">University of Copenhagen</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/copenhagen-university.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>KU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.ku.dk/english">http://www.ku.dk/english</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1479</dd>

              <dt>Location</dt>
              <dd>Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://research.ku.dk/find-a-researcher/">http://research.ku.dk/find-a-researcher/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://curis.ku.dk/ws/oai">http://curis.ku.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="ministry-of-culture">
            <h2 class="data-provider-heading">Ministry of Culture</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/ministry-of-culture.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>KUM</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://kum.dk/servicemenu/english/">http://kum.dk/servicemenu/english/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>—</dd>

              <dt>Location</dt>
              <dd>Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://pure-01.kb.dk/portal/en/">http://pure-01.kb.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://pure-01.kb.dk/ws/oai">http://pure-01.kb.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>

            <h4 class="data-provider-list__leaves-heading">Includes</h4>
            <ul class="data-provider-list__leaves">
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/kulturministeriet%28808250f0-26d5-44f8-90d1-f092d20ce9e6%29.html">Ministry of Culture Denmark</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/dansk-landbrugsmuseum%2813b92634-ac9a-4f4f-89bc-5e8e85fe081e%29.html">Danish Agricultural Museum</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/jagt-og-skovbrugsmuseum%28f9368eff-1794-42ab-a96c-b791f457b25f%29.html">Danish Museum of Hunting and Forestry</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/danmarks-kunstbibliotek%28ddb9af1d-1b01-4297-8d6c-f19f3d9176fd%29.html">Danmarks Kunstbibliotek</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/den-hirschsprungske-samling%28f8266890-3b34-4dc2-999a-6f0ab692b35f%29.html">Hirschsprungs</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/ordrupgaard%287a244512-fef9-4ddc-aa49-7c8e81e0e648%29.html">Ordrupgaard</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/rigsarkivet%287d4a2430-6f3a-4ef4-93ce-77883bb9f1c0%29.html">Rigsarkivet</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/det-kongelige-danske-kunstakademi-billedkunstskolerne%28de5e8736-0eba-4fa7-ba30-0c8498919f8b%29.html">Schools of Visual Art</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/statens-museum-for-kunst%28652489a7-6040-486c-8df8-c6b1143eb58e%29.html">SMK National Gallery of Denmark</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/det-kongelige-bibliotek%2860906427-1125-4261-9490-24e1240b07f7%29.html">The Royal Library</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/statens-arkiver%2827bcd88d-ba25-4427-ba1c-f187fb1bc16a%29.html">The State Archives Taken over by Rigsarkivet</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/nationalmuseet%28d71b9871-ab9a-4909-8cb0-380733d8b650%29.html">The National Museum of Denmark</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/danmarks-og-middelhavslandenes-oldtid%28e61bf3f3-2b4e-46f5-b5a0-8a5848799b16%29.html">Ancient Cultures of Denmark and the Mediterranean</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/miljoearkaeologi-og-materialeforskning%28b439aeaa-4399-4768-a411-ddf33eda46a4%29.html">Environmental Archaeology and Materials Science</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/middelalder-renaessance-og-numismatik%2825654a43-2b24-4034-8742-417a5b107258%29.html">Middle Ages, Renaissance and Numismatics</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/nyere-tid-og-verdens-kulturer%287167521f-a424-4005-baae-392261dc6d62%29.html">Modern History and World Cultures</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/formidling%2816cc0087-2d0c-4f7c-a9d1-c0d8e3dfaaa0%29.html">Public Programs</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/forskning-og-formidling-sekretariat%28ac825c21-0ad2-4812-8ce2-96ecf44aaf37%29.html">Research and Communication, Secretariat</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/landbokultur-og-soefart%2840be9e75-a030-4699-a43e-b12b71d3e91f%29.html">Rural and Maritime History and Culture</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/magasinering-og-kulturhistorisk-konservering%2831f64619-1a62-4741-9dc1-93de3eba922f%29.html">Storage and Culturalhistorical Conservation</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="http://pure-01.kb.dk/portal/en/organisations/krig-og-besaettelse%28aec8e024-a96c-4118-8387-05e44eaf5d7a%29.html">War and Occupation</a>
                <i class="fa fa-external-link"></i>
              </li>
            </ul>
          </li>


          <li id="capital-region">
            <h2 class="data-provider-heading">Capital Region of Denmark</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/capital-region.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>RegionH</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="https://www.regionh.dk/english/">https://www.regionh.dk/english/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>—</dd>

              <dt>Location</dt>
              <dd>Hillerød</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="https://forskning.regionh.dk/en/">https://forskning.regionh.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://forskning.regionh.dk/ws/oai">http://forskning.regionh.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>

            <h4 class="data-provider-list__leaves-heading">Includes</h4>
            <ul class="data-provider-list__leaves">
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/amager-og-hvidovre-hospitaler%2878845cf2-e9c8-4c83-835d-09411bdc4df0%29.html">Amager and Hvidovre Hospital</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/bispebjerg-og-frederiksberg-hospital%2820e5ba69-6033-4f41-bf9a-5cff9c4e8bff%29.html">Bispebjerg and Frederiksberg Hospital</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/bornholms-hospital%283f48275d-a78f-4c83-8ddb-88cbe05858f6%29.html">Bornholms Hospital</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/copenhagen-academy-for-medical-education-and-simulation%28d1ae032b-0347-48c6-ae7a-870b1571845d%29.html">Copenhagen Academy for Medical Education and Simulation</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/den-praehospitale-virksomhed--akutberedskabet%28dd694fd3-b953-49d9-bfc1-0eecd90a1a96%29.html">Emergency Medical Services Copenhagen, The Capital Region of Denmark</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/enhed-for-patientsikkerhed%2842caa4e2-e2b1-449d-8324-3108c58496c1%29.html">Enhed for Patientsikkerhed</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/herlev-og-gentofte-hospital%28e3741f49-8b71-45ba-80a4-f5ad73a06e38%29.html">Herlev and Gentofte Hospital</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/region-hovedstadens-psykiatri%288d9c92f7-d549-44ec-bd01-11b8b46aa33f%29.html">Mental Health Services</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/nordsjaellands-hospital%28375804cf-2de7-4c55-b949-2317ae697d3a%29.html">Nordsjællands Hospital</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/regionale-centre-og-enheder%280356e9a0-aae9-44c9-accf-8044f8ec5591%29.html">Regional Centres and Units</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/forskningscenter-for-forebyggelse-og-sundhed%286940559a-3034-48bf-b546-313ca02fa930%29.html">Research Centre for Prevention and Health, FCFS</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/rigshospitalet%281b6013e3-7c85-4ac4-b470-8c0ad3cef0ab%29.html">Rigshospitalet</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/gcpenheden%28aac36bae-3daf-4ef4-8b86-f45bbc441686%29.html">The GCP unit</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/apoteket%289531910a-e624-447c-9148-0e13bb18e2a0%29.html">The hospital pharmacy</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/forskningsenhed-for-almen-praksis%28173726a8-de0c-44bf-9390-a79492f12a31%29.html">The research unit for general practice</a>
                <i class="fa fa-external-link"></i>
              </li>
              <li>
                <a href="https://forskning.regionh.dk/en/organisations/universitetshospitalernes-center-for-sundhedsfaglig-forskning%282d5f5f35-6532-4763-b784-2a11bf482924%29.html">The University Hospitals Centre for Health Research</a>
                <i class="fa fa-external-link"></i>
              </li>
            </ul>
          </li>


          <li id="roskilde-university">
            <h2 class="data-provider-heading">Roskilde University</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/roskilde-university.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>RUC</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.ruc.dk/en/">http://www.ruc.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1972</dd>

              <dt>Location</dt>
              <dd>Roskilde</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://www.ruc.dk/en/research/">http://www.ruc.dk/en/research/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://rucforsk.ruc.dk/ws/oai">http://rucforsk.ruc.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="university-southern-denmark">
            <h2 class="data-provider-heading">University of Southern Denmark</h2>
            <figure class="provider-logo">
              <%= image_tag("data-providers/university-southern-denmark.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>SDU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.sdu.dk/en/">http://www.sdu.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1966</dd>

              <dt>Location</dt>
              <dd>Odense, Kolding, Sønderborg, Esbjerg, Slagelse, Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://findresearcher.sdu.dk/portal/en/">http://findresearcher.sdu.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="https://heinz.sdu.dk:8080/ws/oai">https://heinz.sdu.dk:8080/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>
        </ul>

      </div>
    </div>
  </div>

</article>

