<div class="container page-leadin">
  <div class="row">
    <div class="col-md-9">
      <h1 class="page-heading">Data providers</h1>
      <p>
        On this page we have gathered all the institutions that are contributing to the present database with their research. Hip hip hurrah!
      </p>
    </div>
    <div class="col-md-3">
      <p class="top-cta"><a href="" class="btn btn-info">Become a data provider</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 multicol-2 multicol-1">
      <ul class="data-providers-list">
        <li>
          <figure class="logo-container">
            <%= image_tag "aau.png" %>
          </figure>
          <h1 class="data-provider-heading">Aalborg University</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "au.png" %>
          </figure>
          <h1 class="data-provider-heading">Århus University</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "cbs.png" %>
          </figure>
          <h1 class="data-provider-heading">Copenhagen Business School</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "dtulogo_colour.png" %>
          </figure>
          <h1 class="data-provider-heading">Technical University of Denmark</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "fak.jpg" %>
          </figure>
          <h1 class="data-provider-heading">Royal Danish Defence College</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "itu.png" %>
          </figure>
          <h1 class="data-provider-heading">IT University of Copenhagen</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "KADK.jpg" %>
          </figure>
          <h1 class="data-provider-heading">The Royal Danish Academy of Fine Arts, Schools of Architecture, Design and Conservation </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "ku.png" %>
          </figure>
          <h1 class="data-provider-heading">University of Copenhagen</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "KUM.png" %>
          </figure>
          <h1 class="data-provider-heading">Ministry of Culture</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "RegionH.png" %>
          </figure>
          <h1 class="data-provider-heading">Capital Region of Denmark</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "RUC.jpg" %>
          </figure>
          <h1 class="data-provider-heading">Roskilde University</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>

        <li>
          <figure class="logo-container">
            <%= image_tag "SDU.png" %>
          </figure>
          <h1 class="data-provider-heading">University of Southern Denmark</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
