<article class="static">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul class="data-providers-list multicol-2">
          <li id="aalborg-university">
            <h1 class="data-provider-heading">Aalborg University</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/aalborg-university.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>AAU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.en.aau.dk/">http://www.en.aau.dk/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1974</dd>

              <dt>Location</dt>
              <dd>Aalborg, Esbjerg, Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://vbn.aau.dk/en/">http://vbn.aau.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://vbn.aau.dk/ws/oai">http://vbn.aau.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>

          <li id="aarhus-university">
            <h1 class="data-provider-heading">Aarhus University</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/aarhus-university.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>AU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.au.dk/en/">http://www.au.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1928</dd>

              <dt>Location</dt>
              <dd>Aarhus, Copenhagen, Herning</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://pure.au.dk/portal/en/">http://pure.au.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="https://pure.au.dk/ws/oai">https://pure.au.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>

          <li id="cph-business-school">
            <h1 class="data-provider-heading">Copenhagen Business School</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/cph-business-school.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>CBS</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.cbs.dk/en">http://www.cbs.dk/en</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1917</dd>

              <dt>Location</dt>
              <dd>Frederiksberg</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://research.cbs.dk/en/">http://research.cbs.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://research.cbs.dk/ws/oai">http://research.cbs.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="technical-university-of-dk">
            <h1 class="data-provider-heading">Technical University of Denmark</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/technical-university-of-dk.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>DTU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.dtu.dk/english">http://www.dtu.dk/english</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1829</dd>

              <dt>Location</dt>
              <dd>Kongens Lyngby, Ballerup</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://orbit.dtu.dk/en/">http://orbit.dtu.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://orbit.dtu.dk/ws/oai">http://orbit.dtu.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>

          <li id="danish-defence-college">
            <h1 class="data-provider-heading">Royal Danish Defence College</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/danish-defence-college.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>FAK</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="www.forsvaret.dk/FAK/eng/">www.forsvaret.dk/FAK/eng/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>2001</dd>

              <dt>Location</dt>
              <dd>Svanemøllens Kasserne, Vognmandsmarken</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://pure.fak.dk/portal/en/">http://pure.fak.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://pure.fak.dk/ws/oai">http://pure.fak.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="it-university-of-cph">
            <h1 class="data-provider-heading">IT University of Copenhagen</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/it-university-of-cph.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>ITU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://en.itu.dk/">http://en.itu.dk/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1999</dd>

              <dt>Location</dt>
              <dd>Ørestad</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="https://pure.itu.dk/portal/en/">https://pure.itu.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="https://pure.itu.dk/ws/oai">https://pure.itu.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="architecture-design-conservation">
            <h1 class="data-provider-heading">Research institutions in Architecture, Design and Conservation</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/architecture-design-conservation.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://aarch.dk/info/research/research-database/">http://aarch.dk/info/research/research-database/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://www.re-ad.dk/ws/oai">http://www.re-ad.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <!-- TODO: sub-schools -->
            </dl>
          </li>


          <li id="copenhagen-university">
            <h1 class="data-provider-heading">University of Copenhagen</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/copenhagen-university.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>KU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.ku.dk/english">http://www.ku.dk/english</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1479</dd>

              <dt>Location</dt>
              <dd>Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://research.ku.dk/find-a-researcher/">http://research.ku.dk/find-a-researcher/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://curis.ku.dk/ws/oai">http://curis.ku.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="ministry-of-culture">
            <h1 class="data-provider-heading">Ministry of Culture</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/ministry-of-culture.#{I18n.locale}.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>KUM</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://kum.dk/servicemenu/english/">http://kum.dk/servicemenu/english/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>—</dd>

              <dt>Location</dt>
              <dd>Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://pure-01.kb.dk/portal/en/">http://pure-01.kb.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://pure-01.kb.dk/ws/oai">http://pure-01.kb.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <!-- TODO: markup? -->
              <dt>Includes</dt>
              <dd>LIST</dd>
            </dl>
          </li>


          <li id="capital-region">
            <h1 class="data-provider-heading">Capital Region of Denmark</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/capital-region.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>RegionH</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="https://www.regionh.dk/english/">https://www.regionh.dk/english/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>—</dd>

              <dt>Location</dt>
              <dd>Hillerød</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="https://forskning.regionh.dk/en/">https://forskning.regionh.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://forskning.regionh.dk/ws/oai">http://forskning.regionh.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <!-- TODO: markup? -->
              <dt>Includes</dt>
              <dd>LIST</dd>
            </dl>
          </li>


          <li id="roskilde-university">
            <h1 class="data-provider-heading">Roskilde University</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/roskilde-university.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>RUC</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.ruc.dk/en/">http://www.ruc.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1972</dd>

              <dt>Location</dt>
              <dd>Roskilde</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://www.ruc.dk/en/research/">http://www.ruc.dk/en/research/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="http://rucforsk.ruc.dk/ws/oai">http://rucforsk.ruc.dk/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>


          <li id="university-southern-denmark">
            <h1 class="data-provider-heading">University of Southern Denmark</h1>
            <figure class="provider-logo">
              <%= image_tag("data-providers/university-southern-denmark.png") %>
            </figure>
            <dl class="provider-details-list">
              <dt>Acronym</dt>
              <dd>SDU</dd>

              <dt>Web</dt>
              <dd>
                <a target="_blank" href="http://www.sdu.dk/en/">http://www.sdu.dk/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>Established</dt>
              <dd>1966</dd>

              <dt>Location</dt>
              <dd>Odense, Kolding, Sønderborg, Esbjerg, Slagelse, Copenhagen</dd>

              <dt>CRIS</dt>
              <dd>
                <a target="_blank" href="http://findresearcher.sdu.dk/portal/en/">http://findresearcher.sdu.dk/portal/en/</a>
                <i class="fa fa-external-link"></i>
              </dd>

              <dt>OAI repository URL</dt>
              <dd>
                <a target="_blank" href="https://heinz.sdu.dk:8080/ws/oai">https://heinz.sdu.dk:8080/ws/oai</a>
                <i class="fa fa-external-link"></i>
              </dd>
            </dl>
          </li>
        </ul>

      </div>
    </div>
  </div>

</article>

