<article role="main">
  <div class="intro">
    <div class="container">
      <p class="pitch measure"> <%= t('blacklight.elevator_pitch')%> </p>
      <p class="news">
        <em class="news-tag"><%= t('blacklight.news_tag')%></em>
        <%= t('blacklight.news_content')%>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section>
        <h1 class="chart-heading">OPEN ACCESS</h1>
        <div class="center-block">
          <%= link_to 'Overview', open_access_path %>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 chart">
        <section>
          <h1 class="chart-heading">
            <%= t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.type") %>
          </h1>
          <ul class="chartlist types">
            <% @types.each do |facet| %>
            <li>
              <%= render_link_to(facet) %>
              <%= render_count_for(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
          <button class="toggle-rest">
            <span class="s">
              <%= t("blacklight.data_visualization.more") %>
              <i class="glyphicon glyphicon-plus-sign"></i>
            </span>
            <span class="h">
              <%= t("blacklight.data_visualization.less") %>
              <i class="glyphicon glyphicon-minus-sign"></i>
            </span>
          </button>
        </section>
      </div>

      <div class="col-md-6 chart">
        <section>
          <h1 class="chart-heading">
            <%= t("blacklight.data_visualization.publications") %>
            <em><%= t("blacklight.data_visualization.by") %></em>
            <%= t("blacklight.data_visualization.institution") %>
          </h1>
          <ul class="chartlist institutions">
            <% @institutions.each do |facet| %>
            <li>
              <%= render_link_to(facet) %>
              <%= render_count_for(facet) %>
              <%= render_percentage_for(facet) %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>
  </div>
</article>
