<div class="intro">
  <div class="container">
    <p class="pitch measure"> <%= t('blacklight.elevator_pitch')%> </p>
    <p class="news">
      <em class="news-tag"><%= t('blacklight.news_tag')%></em>
      <%= t('blacklight.news_content')%>
    </p>
  </div>
</div>

<div class="container">
  <!--   <div id="chart"></div> -->

  <ul class="chartlist">
    <% @types.each do |facet| %>
      <li>
        <a href="/"><%= facet[:label] %></a>
        <span class="count"><%= facet[:count] %></span>
        <span class="pct" style="width: <%= format_as_pct(facet[:pct]) %>"><%= parenthesize_as_pct(facet[:pct]) %></span>
      </li>
    <% end %>
  </ul>
</div>

