<span class="dropdown form export_dropdown">
  <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-export').html_safe,
              {:controller => 'catalog', :action => 'show',
               :id => document.id, :return_url => return_url},
              :title => t('ddf.tools.save_and_export'), :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' %>

  <ul class="dropdown-menu pull-right export_menu">
    <li class="mendeley">
      <%= link_to content_tag('i', '', :class => 'icon-mendeley') + t('ddf.tools.mendeley'), '#', :class => 'save-to-mendeley' %>
    </li>

    <% if document.export_formats && document.export_formats.keys.include?( :bib ) %>
      <li class="bibtex">
        <%= link_to content_tag('i', '', :class => 'icon-file-text-o') + t('ddf.tools.bibtex'), catalog_path(document, :format => 'bib') %>
      </li>
    <% end %>

    <% if document.export_formats && document.export_formats.keys.include?( :ris ) %>
      <li class="endnote">
        <%= link_to content_tag('i', '', :class => 'icon-file-text-o') + t('ddf.tools.ris'), catalog_path(document, :format => 'ris') %>
      </li>
    <% end %>

    <li>
      <%= link_to t('ddf.tools.email_result'), new_citations_path(id: document.id), data: { ajax_modal: 'trigger'} %>
    </li>
  </ul>
</span>
