<div class="fulltext-access fulltext-access-index">
  <dt><%= t 'blacklight.search.fields.index.fulltext_access' %>:</dt>
  <%# TODO: Export to helpers, align links in CSS %>
  <% collect_fulltexts(document).each do |fulltext| %>
    <dd class="icon-label icon-label--oa">
      <%= image_tag image_url('openaccess.png') %>
      <%= link_to source_label(fulltext['source']), fulltext['url'],
                  :target => '_blank',
                  :title  => t('ddf.links.direct_fulltext', :source => source_label(fulltext['source'])) %>
      <i class="fa fa-external-link-square"></i>
    </dd>
  <% end %>
  <% collect_doi_links(document).each do |link| %>
    <dd class="icon-label icon-label--doi">
      <%= image_tag image_url('doi.png') %>
      <%= link_to t('ddf.links.resolve_via_doi'), link,
                  :target => '_blank',
                  :title  => t('ddf.links.resolve_via_doi_hover') %>
    </dd>
  <% end %>
</div>
