<% #Using the Bootstrap Pagination class  -%>
<% if @previous_document || @next_document %>
	<nav class="show-view">
    <ul class="show-view__pagination">
      <li><%= link_to_previous_document @previous_document %> |</li>
      <li><%= item_page_entry_info %> |</li>
      <li><%= link_to_next_document @next_document %></li>
    </ul>

    <ul class="align-right show-view__resets">
      <li>
        <i class="glyphicon glyphicon-list"></i>
        <%= link_back_to_catalog(label: "#{t('blacklight.latest_search')}") %>
      </li>
      <li class="destructive">
        <i class="glyphicon glyphicon-remove-sign"></i>
        <%= link_to "#{t('blacklight.search.start_over')}", start_over_path(current_search_session.try(:query_params) || {}) %>
      </li>
    </ul>
  </nav>
<% end %>
