<table id="search-syntax" class="table table-hover" role="menu" aria-labelledby="toggle-search-syntax">
  <thead>
    <tr>
      <th><%= t('ddf.search.help.example')%></th>
      <th><%= t('ddf.search.help.finds_records')%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="syntax"><%= t('ddf.search.help.water')%><span class="template hide">{}</span></td>
      <td class="description"><%= t('ddf.search.help.containing_word')%></td>
    </tr>
    <tr>
      <td class="syntax"><%= t('ddf.search.help.water_supplies')%><span class="template hide">"{}"</span></td>
      <td class="description"><%= t('ddf.search.help.containing_phrase')%></td>
    </tr>
    <tr>
      <td class="syntax"><%= t('ddf.search.help.author')%>'Doe, John'<span class="template hide"><%= t('ddf.search.help.author')%>"{}"</span></td>
      <td class="description"><%= t('ddf.search.help.phrase_author_field')%></td>
    </tr>
    <tr>
      <td class="syntax"><%= t('ddf.search.help.title')%>IEEE<span class="template hide"><%= t('ddf.search.help.title')%>{}</span></td>
      <td class="description"><%= t('ddf.search.help.containing_ieee')%></td>
    </tr>
  </tbody>
  <thead>
    <tr class="info">
      <th><%= t('ddf.search.help.more_help')%></th>
      <td><a target="_blank" href="/about/search-and-get">
        <%= t('ddf.search.help.search_how')%></a></td>
    </tr>
  </thead>
</table>
