<ul class="nav nav-tabs search-nav">
  <% search_fields.each do |field| %>
    <% field_name = field.last  %>
    <%= content_tag :li, class: active_field?(field) do %>
      <%= link_to t("ddf.search.fields.#{field_name}"), "##{field_name}", data: { toggle: 'tab'} %>
    <% end  %>
  <% end  %>
</ul>
<div class="tab-content">
  <% search_fields.each do |field| %>
    <% field_name = field.last  %>
    <%= content_tag :div, class: ['tab-pane', active_field?(field)], id: field_name, role: 'tab-panel' do %>
      <%= form_tag search_action_url(controller: :catalog), :method => :get, :class => 'search-query-form form-inline clearfix navbar-form' do %>

          <%# binding.pry %>

          <%= render_hash_as_hidden_fields(
                  params_for_search()
                      .except(:q, :qt, :page, :utf8)
                      .merge(search_field: field_name))
          %>
          <% if controller_name == 'pages' && field_name == 'researchers' %>
              <%= hidden_field_tag('f[is_active_b][]', true) %>
          <% end %>
          <div class="text-field-with-icons">
            <div class="input-group">
              <ul class="search-icons-list">
                <li>
                  <a title="<%= t ('ddf.search.form.question_icon_text_hover') %>" id="toggle-search-syntax" href="#">
                    <i class="glyphicon glyphicon-question-sign"></i>
                  </a>
                </li>
                <li>
                  <a title="<%= t ('ddf.search.form.clear_icon_text_hover') %>" id="search-clear" href="#">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                  </a>
                </li>
              </ul>

              <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
              <%= text_field_tag :q, params[:q], :placeholder => t("ddf.search.form.placeholder.#{field_name}"), :class => "search_q q form-control", :id => "q_#{field_name}", :autofocus => should_autofocus_on_search_box? %>
            </div>

            <button type="submit" class="btn btn-primary search-btn" id=<%= "search-#{field_name}" %>>
              <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
      <% end %>
<% end %>
<% end %>
</div>

<%= render 'catalog/search_help' %>
