<% set_meta_tags citation_title: @document[:title_ts],
                 citation_author: @document[:author_ts],
                 citation_publication_date: @document[:pub_date_tis],
                 citation_publisher: @document[:publisher_ts],
                 citation_journal_title: @document[:journal_title_ts],

                 citation_keywords: @document[:keywords_ts],
                 citation_language: @document[:language_ss] %>

<div id="content" class="col-md-9 col-sm-8 show-document">
  <%= render 'previous_next_doc' %>

  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
  <% content_for(:head) { render_link_rel_alternates } -%>
  <%# this should be in a partial -%>

  <div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>">
      <% # bookmark/folder functions -%>
      <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
    </div>
     <%= render :partial => 'openurl',  :locals => { :document => @document } %>
  </div>

</div>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render_document_sidebar_partial %>
</div>
