<!DOCTYPE html>
<html>
<head>
  <title>DDF UI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= render_body_class %>">
  <%= render :partial => 'shared/header_navbar' %>
  <%= render partial: 'shared/ajax_modal' %>

  <div id="" class="">
    <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
    <%= yield %>
  </div>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
