<!DOCTYPE html>
<html>
<head>
  <title>DDF UI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= render_body_class %>">
  <%= render :partial => 'shared/header_navbar' %>
  <%= render partial: 'shared/ajax_modal' %>

  <div id="" class="">
    <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
    <%= yield %>
  </div>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
